<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="AI Persona Plugin">
			<file>tests/phpunit/OllamaProviderTest.php</file>
			<file>tests/phpunit/NullProviderTest.php</file>
			<file>tests/phpunit/PluginProviderResolutionTest.php</file>
			<file>tests/phpunit/ApiPermissionsTest.php</file>
			<file>tests/phpunit/ApiStreamTest.php</file>
			<file>tests/phpunit/OpenAIProviderTest.php</file>
			<file>tests/phpunit/AnthropicProviderTest.php</file>
			<file>tests/phpunit/DesignTokensTest.php</file>
			<file>tests/phpunit/PersonaHelpersTest.php</file>
			<file>tests/phpunit/AdminImportTest.php</file>
			<file>tests/phpunit/ApiPersonaCrudTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
